@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Pacifico&family=Work+Sans:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-color: #f1f1f1;
}
::-webkit-scrollbar{
  width: .4vw;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: #000000;
}
/*------------------------------------ Navbar ----------------------------------------------*/
header {
  padding: 2vh 0.7vw;
  background-color: #f8f9fa;
  width: 100vw;
}
header ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header ul .top-nav-item {
  padding: 0 1vw;
  font-size: 2.6vh;
  cursor: pointer;
  color: #585858;
  text-decoration: none;  
}
header ul .top-nav-item.active {
  color: black;
}
header ul .top-nav-item.prime {
  font-size: 1.3em;
}
header ul .right-align{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 1vw;
}
/* ----------------------------------- Dark Container-------------------------------------- */
.dark-container {
  background-color: #121212 !important;
  color: #fff;
 }
/* ----------------------------------- Notes input Form-------------------------------------- */
.form-container {
  margin: 2vh 0 0 0;
  display: flex;
  justify-content: center;
}
.input-form {
  display: flex;
  width: 70vw;
  justify-content: flex-start;
  flex-direction: column;
}
.input-form label {
  font-size: 2.6vh;
  padding: 1vh 0 1vh 0;
}
.title-input {
  padding: 1.8vh;
  border: 1px solid rgb(84, 84, 84);
  border-radius: 0.9vh;
  -webkit-border-radius: 0.9vh;
  -moz-border-radius: 0.9vh;
  -ms-border-radius: 0.9vh;
  -o-border-radius: 0.9vh;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  border-radius: 11px;
  background: #fbfbfb;
  box-shadow: 5px 5px 12px #b8b8b8, -5px -5px 12px #ffffff;
}
.title-input:focus {
  outline: rgb(84, 84, 84);
}
.title-input.desc {
  resize: none;
}
.add-note-btn {
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 8vh;
  width: 1vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 5vh;
}
/* -----------------------------------------Notes items------------------------------------- */
.row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly;    */
  align-items: center;
  flex-wrap: wrap;
  width: 70vw;
}

.notes-cards {
  margin: 1vh;
  min-height: 10vh;
  min-width: 20vw;
  max-width: 80vw;
  word-wrap: break-word;
  padding: 2vh;
  border-radius: 1vh;
  border: 1px solid #717070b1;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
  border-radius: 16px;
  background: #e0e0e0;
  border-radius: 16px;
  background: #ffffff;
  border-radius: 16px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 16px #a1a1a1, -6px -6px 16px #ffffff;
}
.notes-card-title {
  font-weight: 800;
  font-size: 1.3em;
  padding-bottom: 0.7vh;
}
.notes-card-description {
  font-size: 1.01em;
  color: #121212;
  margin-bottom: 3vh;
}
.card-modif-icon {
  cursor: pointer;
  font-size: 1.4em;
  margin-right: 1vw;
  margin-top: 30px;
}
/* ----------------------------Cuustom Alerts-------------------------------- */
.custom-alert {
  display: flex;
  align-items: center;
  height: 5vh;
  padding: 1vh 2vw;
}
.custom-alert.green {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.custom-alert.red {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.custom-alert.yellow {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
/* ----------------------------Model Style-------------------------------- */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #878787;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2vh 16px;
  background-color: #f8f9fa;
  color: #161616;
}

.modal-body {
  padding: 2vh 16px;
  background-color: #f1f1f1;
}

.modal-footer {
  padding: 2vh 16px;
  background-color: #f8f9fa;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.classic-button {
  padding: 8px 10px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: 0.17s ease-in-out;
  -webkit-transition: 0.17s ease-in-out;
  -moz-transition: 0.17s ease-in-out;
  -ms-transition: 0.17s ease-in-out;
  -o-transition: 0.17s ease-in-out;
}
.classic-button:hover {
  background-color: black;
  color: #fff;
  border: 1px solid #fff;
}
.classic-button:disabled{
  display: none;
}
.classic-button.userSpecial{
  width: fit-content;
}